body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}



#Home {
    background-color: rgb(173, 193, 198);
    margin-top: -1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
}


.profile_name,
.topdiv {
    display: inline-block;
}

.profile_name {
    position: relative;
    float: left;
    height: fit-content;
    width: fit-content;
    padding-left: 2vw;
    font-size: 2.2vw;
}

.topdiv {
    position: relative;
    width: fit-content;
    float: right;
    padding-right: 1.5vw;
    text-align: center;
    margin-top: 2vw;
    display: inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: rgb(173, 193, 198);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(173, 193, 198);;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
}

.dropdown-content a {
    color: #333;
    padding: 1.2vw 1.6vw;
    text-decoration: none;
    display: block;
    font-size: 1.6vw;
}

.dropdown-content hr {
    margin: 0.5vw 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item:hover {
    text-decoration: underline;
}

.topmenu {
    color: #495057;
    width: fit-content;
    text-decoration: none;
    margin: 0.5vw;
    padding: 0.5vw;
    font-size: 1.4vw;
}

.topmenu:hover {
    color: black;
    text-decoration: underline;
    font-weight: bolder;
}

.profile_name a {
    color: black;
    text-decoration: none;
}

.profile_name a:hover {
    color: royalblue;
    text-decoration: underline;
}

.profile_name .contact_info {
    font-size: 1vw;
    font-style: italic;
    width: fit-content;
    color: #495057;
}

.contact_info img {
    width: 1.5vw;
    margin-right: 0.5vw;
    float: left;
}

/* Title */
h2 {
    text-align: justify;
    font-size: 4vw;
    color: rgb(134, 176, 187);
    margin: 3vw;
    margin-left: 2.6vw;
    margin-top: 8vw;
    margin-bottom: 0vw;
}


.profile_image {
    width: 30vw;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
    vertical-align: middle;
    margin-left: 30px;
    
}



#about-me {
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 3vw;
    text-align: left;
    margin-top: 2vw;
    margin-bottom: 2vw;
    animation-duration: 5s;

}

#about-me h1 {
    font-size: 5vw;
    color: rgb(134, 176, 187);
}

@media screen and (max-width: 768px) {
    #about-me h1 {
        font-size: 8vw;
    }
}



#about-me p {
    font-size: 2vw;
    color: rgb(108, 108, 108);
    margin-top: -1cm;

}

@media screen and (max-width: 768px) {
    #about-me p {
        font-size: 3vw;
    }
}

.container {
    display: flex;
}

/* Skills */
#skills {
    margin-top: 5vw;
    margin-bottom: 2vw;
    animation-duration: 5s;
    position: relative;
}

.all_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 40vw;
    overflow-y: auto;
}
.all_skills::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 2vw;
    width: 14%;
    font-size: 2vw;
    box-shadow: 0 3px 10px gray;
    flex-grow: 1;
    flex-basis: 200;

}

.skill:hover {
    border: 0.5vw solid rgb(134, 176, 187);
    transform: translateY(-0.5vw);
}

.skill img {
    height: 4vw;
    align-items: center;
}

.skills h6 {
    font-size: 2vw;
    font-weight: bold;
    margin: 1vw 0;
}

.skills p {
    font-size: 1.5vw;
    color: gray;
    margin: 0.5vw 0;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#all-Projects {
    margin-top: 8vw;
    margin-bottom: 2vw;
    animation-duration: 5s;
    position: relative;
}

.projects_container {
    margin-top: 30px;
    margin-left: 60px;
}

.projects_container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
}


.project_card {
    margin: 0 1.5vw 1.5vw 3vw;
    padding-bottom: 5px;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-items: center;
}

.project_card h3 {
    font-size: 2vw;
    margin-left: 3vw;
}

.project_card li {
    font-size: 2vw;
    margin-left: 3vw;
}

.Certification {
    margin-top: 8vw;
    margin-bottom: 2vw;
    position: relative;
    overflow: hidden;
    padding: 2vw 0;

}


.certificate-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.certificate-container::-webkit-scrollbar {
    display: none;
}

.certificate-card {
    flex: 0 0 auto;
    width: 455px;
    height: 366px;
    margin-right: 40px;
}

.certificate-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.certificate-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.certificate-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, rgb(134, 176, 187), #fff);
    ;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.certificate-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: rgb(134, 176, 187);
}

.certificate-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}


.certificate-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/* Recommendations */

#recommendations {
    margin-top: 80px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
}

.all-recommendations {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    padding: 20px;
}

.recommendation {
    font-style: italic;
    text-align: left;
    width: 21.875rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    border: 1px solid gray;
    font-size: 18px;
    height: 150px
}

.recommendation span {
    color: rgb(134, 176, 187);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Scroll to Top Button */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBtn {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: rgb(21, 71, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
}

.iconBtn :hover {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background-color: rgb(173, 193, 198)
}

/* Form Pop-up */
.popUp {
    width: 400px;
    border-radius: 3mm;
    background-color: rgb(134, 176, 187);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    visibility: hidden;
}

.popUp img {
    padding-top: 20px;
    background-color: rgb(134, 176, 187);

}

.popUp button {
    background-color: #fff;
    border: 1px solid rgb(55, 136, 195);
    color: rgba(58, 159, 172, 0.597);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    margin-left: 25%;
}

.popUp button:hover {
    background-color: #fff;
    border: 2px solid rgb(134, 176, 187);
    color: rgb(134, 176, 187);
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
}

/* Recommendation form */
input,
textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

fieldset {
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    padding: 25px;
    margin: 80px auto 0;
    border: 2px solid #eee;
    border-radius: 10px;
    width: 60%;
    background-color: #f9f9f9;
    flex-direction: column;
}
legend {
    font-weight: bold;
}

#recommend_btn {
    background-color: #fff;
    border: 1px solid rgb(21, 132, 160);
    color: rgb(134, 176, 187);
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
}

#recommend_btn:hover {
    background-color: rgb(40, 115, 134);
    border: 1px solid rgb(40, 115, 134);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.footer1 {
    background-color: rgb(173, 193, 198);
    size: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}

.footer1 a {
    margin: 30px;
}

.footer1 p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 5px;
}

.footer1 img {
    margin: 5px;
    border: 1px solid rgb(40, 115, 134);
    border-radius: 15px;
}

#footer1 h4,
h5 {
    margin-top: 10px;
    text-align: center;
}